name: Publish

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v4
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"

      - run: npm ci

      - run: ./node_modules/.bin/tsc

      - run: cat package.json | jq --arg VERSION "${TAG#v}" 'del(.devDependencies) | .version = $VERSION' > dist/package.json
        env:
          TAG: ${{ github.event.release.tag_name }}

      - run: rm dist/*.test.*

      - run: npm publish --provenance --access public dist/
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
