name: Publish

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"

      - run: npm ci

      - run: ./node_modules/.bin/tsc
      - run: cat package.json | jq --arg VERSION "${{ github.event.release.tag_name }}" 'del(.devDependencies) | .version = $VERSION' > dist/package.json
      - run: rm dist/*.test.*

      - run: npm publish --provenance --access public dist/
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
