on: push
name: Publish
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: build
        uses: docker://nixos/nix
        with:
          entrypoint: ./script/build
      - uses: actions/setup-node@v1
        with:
          registry-url: "https://npm.pkg.github.com"
      - name: publish
        run: npm publish --access public --tag commit result
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
